.hand1 {
    background-color: green;
}

.hand2 {
    background-color: blue;
}

div {
    border: black 2px;
}

.Pokedex-cards{
    display:flex;
    justify-content: space-between;
    gap: 20px;

}

.Pokecard {
    flex: 1;
    margin: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    padding: 20px
}

.card{
    padding: 20px;
    background-color: blue;

}